body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--background-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

:root {
  /*CORES GLOBAIS*/
  --text-color: #bdc1c6;
  --background-color: #202124;
  --title-color: #ffffff;

}

.container section {
  max-height: auto;
  max-width: 400px;
}

section {
  color: var(--text-color);
  margin-top: 2rem;
}

section .divisaoDasQuestoes {
  height: 1px;
  background: linear-gradient(270deg,
      hsla(var(--hue), 36%, 57%, 1) 0%,
      hsla(var(--hue), 65%, 88%, 0.34) 100%);
}

section h1,
h2,
h3,
h4,
h5 {
  color: var(--title-color);
}

.container .questao_1 {}

.container .questao_2 {}

.container .questao_3 {}

.container .questao_4 {}