body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container section {
  max-height: auto;
  max-width: 400px;
}

.container .questao_1 {
  background: #8f8f8f;
}

.container .questao_2 {
  background: #a87777
}

.container .questao_3 {
  background: #7c3b3b
}

.container .questao_4 {
  background: #893434
}